<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      
       <class name="com.qa.Guru99Assignment.Day1TestNG"/>
      <class name="com.qa.Guru99Assignment.Day2Assignment"/>
      <class name="com.qa.Guru99Assignment.Day3Assignment"/>
      <class name="com.qa.Guru99Assignment.Day4Assignment"/>
      <class name="com.qa.Guru99Assignment.Day5Assignment"/>
      <class name="com.qa.Guru99Assignment.Day6Assignment"/>
      <class name="com.qa.Guru99Assignment.Day7Assignment"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
